body {
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 40px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.masthead .social {
  padding: 24px 24px;
  float: right;
}

.download {
  padding: 50px 30px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 10px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
	background: #004561;
}

.navbar .nav {
	margin: 0;
}

.container .logo {
	display: block;
	float: left;
}

.container .nav {
	padding: 50px 0 0 0;
	float:right;
}

.nav li {
	float: right;
	margin-right: 0;
}

.masthead {
	padding: 40px 0 30px 0;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	padding: 15px 25px;
}

.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.splash {
  display:block;
}

.author_contact {
	display: inline-block;
}

.author_gravatar {
	display: inline;
	padding: 0 20px 20px 5px;
}

.share {
	display: block;
}
